// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';


.navbar-scroll {
    backdrop-filter: blur(10px);
    background-color: rgba(58, 58, 58, 0.5);
    transition: background-color 0.3s ease;
}

.navbar-nav a{
    margin-left: 14px;
    font-size: 18px;
    font-weight: 500;
}

.nav-link {
    color: rgba(255, 255, 255, 0.604);
}
.active , .nav-link:hover {
    color: rgb(255, 255, 255);
    border-bottom: 2px solid black;
}

body{
    width: 100%;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#hero{
    background-image: url("../images/Bg.png");
    background-repeat: no-repeat;
    height: 100vh;
    background-size: cover;
    top: 0% !important;
    z-index: 1;
}

#about{
    height: 100%;
    padding-top: 100px;
    padding-bottom: 100px;
}

// #address {
//     background-image: url("../images/bg2.png");
//     background-repeat: no-repeat;
//     height: 100vh;
//     background-size: cover;
//     top: 0% !important;
//     z-index: 1;
// }

@media only screen and (max-width: 980px) {
    .navbar {
        backdrop-filter: blur(10px);
        background-color: rgba(58, 58, 58, 0.5);
        transition: background-color 0.3s ease;
    }

    #hero img{
        width: 20%;

    }
    #hero h1{
        font-size: 48px !important;
    }

}
@media only screen and (max-width: 600px) {
    iframe{
        width: 100% !important;
    }
    #hero h1{
        font-size: 32px !important;
    }
    #hero p{
        font-size: 12px !important;
        width: 100% !important;
    }
}

/* PROMO */

.promo {
    background-color: #90a774;
    padding-top: 60px;
    padding-bottom: 20px;
}

// laptop

// Tablet
@media (min-width:764px) {
    
    .promo-caraousel {
        display: grid ;
        width: 464px ;
    }

   
}


// mobile
@media only screen and (max-width: 484px) {
    .promo-caraousel {
        width: 320px !important;
    }

    .description_carousel {
        text-align: center;
    }

    .carousel_img {
        // max-width: 220px !important;
        // width: 120px;
    }
}




/* FOOTER */
// Tablet
@media (min-width:764px) {
    .footer-maps {
        text-align: center ;
    }
    
    .footer-information {
        text-align: center ;
    }
}


// Mobile
@media only screen and (max-width: 484px) {
    .footer-maps {
        text-align: center;
    }
}
