// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';


.navbar-scroll {
    backdrop-filter: blur(10px); /* Ubah nilai blur sesuai dengan kebutuhan Anda */
    background-color: rgba(58, 58, 58, 0.5); /* Atur warna latar belakang dengan transparansi */
    transition: background-color 0.3s ease; /* Menambahkan efek transisi untuk perubahan warna latar belakang */
}

.navbar-nav a{
    margin-left: 14px;
    font-size: 18px;
    font-weight: 500;
}

.nav-link {
    color: white !important;
}

body{
    width: 100%;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#hero{
    background-image: url("../images/Bg.png");
    background-repeat: no-repeat;
    height: 100vh;
    background-size: cover;
    top: 0% !important;
    z-index: 1;
}

#about{
    height: 100%;
    padding-top: 100px;
    padding-bottom: 100px;
}

@media only screen and (max-width: 600px) {
    iframe{
        width: 100% !important;
    }
}
